{{> authPartials/header title='Reset Password'}}
    <div class="card">
        <div class="card-content">
            <p class="title">Reset Password</p>
            <hr>
            <div class="columns is-flex-wrap-wrap">
                <div class="column is-full">
                    <label for="">Email</label>
                    <input class="input" type="text" placeholder="Email Address">
                </div>
                
                <div class="column is-full">
                    <a href="/auth/sign-in" class="is-pulled-left">Do you have sign in?</a>
                </div>
                <div class="column is-full">
                    <button class="button is-primary is-rounded is-fullwidth is-medium">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
{{> authPartials/footer}}
             