{{#if editPost }}
{{> appPartials/header title="Edit Post"}}
{{else}}
{{> appPartials/header title="Create Post"}}
{{/if}}
    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Manage Posts</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="m-t-0 m-b-30">Create Posts</h4>
                                <form action="/posts" method="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="post_title">Post Title</label>
                                                <input type="text" id="post_title" name="post_title" value="{{editPost.post_title}}" class="form-control" placeholder="Post title">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="post_category">Post Category</label>
                                                <select name="post_category" class="form-control" id="post_category">
                                                    <option value="">Select Category</option>
                                                    <option value="emgerency">Emgerency</option>
                                                    <option value="real estate">Real Estate</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="post_message">Post Message</label>
                                                <textarea name="post_message" id="post_message" cols="30" rows="5" placeholder="Post Message" class="form-control">{{editPost.post_message}}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">Post Privacy</label>
                                                <div class="d-flex">
                                                    <div class="radio radio-danger">
                                                        <input type="radio" name="post_privacy" id="public" value="1">
                                                        <label for="public">
                                                            Public
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-danger ml-5">
                                                        <input type="radio" name="post_privacy" id="private" value="2">
                                                        <label for="private">
                                                            Private
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">Status</label>
                                                <div class="checkbox checkbox-primary">
                                                    <input id="status" name="status" type="checkbox" value="1" checked="checked">
                                                    <label for="status">
                                                        Active / Inactive
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-primary waves-effect waves-light">
                                            {{#if editPost}}
                                            Update
                                            {{else}}
                                            Save
                                            {{/if}}
                                        </button>
                                        <a href="/posts" class="text-white"><button type="button" class="btn btn-danger ml-2 waves-effect waves-light">Cancel</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->
{{> appPartials/footer }}