<%- include('layouts/app-layout/header', {title:"Dashboard"}); -%>
    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Manage Posts</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between m-t-0 m-b-30">
                                    <h4 class="">Lists of Posts</h4>
                                    <a href="/dashboard" class="text-white"><button class="btn btn-primary btn-lg waves-effect waves-light">Create New Posts</button></a>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Post Name</th>
                                                        <th scope="col">Post Message</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                    <td>
                                                        <a href="" class="text-dark ml-3"><i class="fas fa-edit"></i></a>
                                                        <a href="" class="text-dark ml-3"><i class="fas fa-eye"></i></a>
                                                        <a href="" class="text-dark ml-3"><i class="fas fa-trash"></i></a>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->
<%- include('layouts/app-layout/footer'); -%>