<%- include('layouts/auth-layout/header',{title:"404 Page not found"}); -%>  
<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1 class="text-white">404!</h1>
        <h2 class="text-white">Sorry, page not found</h2><br>

        <a class="btn btn-primary waves-effect waves-light" href="/dashboard">Back to Dashboard</a>
    </div>
</div>
<%- include('layouts/auth-layout/footer') -%>