        <footer class="footer">
                    © 2019 Hexzy <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign.</span>
            </footer>

        </div>
        <!-- End Right content here -->
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/jquery.blockUI.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <!--Morris Chart-->
    <script src="/assets/plugins/morris/morris.min.js"></script>
    <script src="/assets/plugins/raphael/raphael.min.js"></script>
    <!-- KNOB JS -->
    <script src="/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="/assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/assets/pages/dashboard.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>